@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root{
  --main-color:#f91942;
  --yellow:#ffa900;
  --white:#fff;
}
body{font-family: 'Manrope', sans-serif;font-weight: 500;color: var(--common-gray);}
.yellow{color: var(  --yellow);}
.navbar {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
}
.bg-main{background-color: var(--common-gray);}
.btn-main{background-color: var(--main-color);color: var(--white);}
.btn-main:hover{border-color: var(--main-color);color: var(--main-color);}
.cursor-pointer{cursor: pointer;}
.navbar-brand {
  font-size: 1.75rem;
  font-weight: 800;
} 
.nav-link {
  font-size: 1.1rem;
  padding: 1rem 1rem !important;
  color: var(--bs-nav-link-color);
}
.navbar-nav .show>.nav-link{ color: var(--bs-nav-link-color);}
.navbar-nav .dropdown-menu {
  border: none;
  padding: 1rem 0rem;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
  border-radius: 0;
  min-width: 250px;
  margin-top: .25rem;
  display: block !important;
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
  transform: translateY(15px);
}
.navbar-nav .dropdown-menu .nav-link {
  padding: 0.6rem 1.5rem !important;
}
.navbar-nav .dropdown-menu .nav-link:hover {color: var(--main-color);}
.navbar-nav .dropdown:hover .dropdown-menu{opacity: 1;visibility: visible;transform: translateY(0px);}
.login-wrapper{
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 125px);
}
.login-wrapper >  div{
  box-shadow: 0px 0px 15px #eee;
  padding: 3rem;
  border-radius: 10px;
}

.flone-preloader-wrapper {
  background-color: rgba(247, 247, 247, 0.645);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
    align-items: center;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--main-color);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.product-wrap {
  position: relative;
  /* background: #f6f6f6; */
  color: var(--bs-black);
}
.product-wrap a {
  color: var(--black);
  text-decoration: none;
}
.product-content {
  padding: 1rem 2rem;
}
.breadcrumb-custom {
  background: #f7f8fa;
}
.breadcrumb-custom li > a {
  color: var(--c-gray);
  text-decoration: none;
}
.breadcrumb-custom .breadcrumb {
  margin-bottom: 0;
}
.tt-input-counter span {
  padding: 1rem 1rem;
  display: inline-block;
}
.tt-input-counter input {
  text-align: center;
  border: none;
  background: none;
  outline: none;
  height: 100%;
  font-weight: 600;
}
.tt-input-counter {
  background: #eee;
  border-radius: 6px;
  color: #000;
}
.slick-thumb {
  bottom: -90px !important;
}
.slick-prev:before, .slick-next:before {
  background: rgb(0 0 0 / 20%);
 border-radius: 50%;
}
ul.slick-dots.slick-thumb li {
  width: 100px;
  display: inline-block;
  height: auto;
}
ul.slick-dots.slick-thumb a > img {
  width: 100%;
  border:4px solid transparent;
  transition:0.3s ease
}
ul.slick-dots.slick-thumb li.slick-active img{
  border-color: #ddd;
}